#img1{
    height:400px;
    width:400px;
}
#img2{
    height:400px;
    width:400px;
}
#img3{
    height:400px;
    width:400px;
}
#img4{
    height:400px;
    width:400px;
}
body{
    text-align:center;
}